<% provide(:title, 'About Us') %>
<h1>Qui sommes-nous ?</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  Est un projet tres interessant pour apprendre le Ruby
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  Ceci est l'application de test de ce tuto
</p>