<div class="center hero-unit">
  <h1>Bienvenue chez vous...</h1>

  <h2>
    Voici un premier essai de ce qui est possible avec Ruby...
  </h2>

  <%= link_to "Inscris-toi!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>